* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Helvetica', Arial, sans-serif;
}

section {
    float: left;
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
    padding: 40px 0px;
}

.row:after {
    clear: both;
}

.title {
    float: left;
    width: 33%;
}

.title h2 {
    text-align: right;
    border-bottom: 1px solid black;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 1.2em;
}

.content {
    float: left;
    width: 67%;
    border-left: 1px solid black;
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 15px;
    min-height: 100px;
}

.score-red {
    background: #c42600;
}

.score-upload {
    background-image: url('http://www.cuckoosandbox.org/graphic/bar.jpg');
}

.score-red .title h2,
.score-red .content {
    border-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.score-green {
    background: #51ab47;
}

.score-49 {
    background: #f6e232;
}

.score-49 .title h2,
.score-49 .content {
    border-color: rgba(179, 166, 0, 0.4);
    color: #000;
}

.score-03 {
    background: #51ab47;
}

.score-03 .title h2,
.score-03 .content {
    border-color: rgba(64, 142, 57, 1);
    color: #000;
}

.score .content p#title {
    font-size: 14px;
    letter-spacing: inherit;
    height: 80px;
}

.score .content p {
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: bold;
}

.content ul {
    padding: 0;
    list-style-position: inside;
}

.content ul li {
    line-height: 1.65em;
}

.content ul.has-codes {
    list-style-type: none;
}

.content ul.has-codes li.code-yellow span {
    background: #f7e400;
}

.content ul.has-codes li.code-yellow {
    color: #b4a601;
}

.content ul.has-codes li.code-red span {
    background: #c22813;
}

.content ul.has-codes li.code-red {
    color: #c22813;
}

.content ul.has-codes li.code-green span {
    background: #a6eea4;
}

.content ul.has-codes li.code-green {
    color: #51ab47;
}

.score .content ul>li:nth-child(3){
    font-size:14px;
}

.content ul li span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 2px;
    margin-right: 3px;
}

.logo {
    background: #222;
}

.logo .title {
    width: 100%;
    text-align: center;
    position: relative;
}

.logo img {
    max-width: 130px;
    position: absolute;
    top: -12px;
    right: 0;
    background: #fff;
    padding: 5px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 3px solid #222;
}

.logo .row {
    padding: 4px 0px 0px;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
}

tr th, tr td {
    text-align: left;
    padding: 10px;
}

.score .title ul {
    list-style-type: none;
    margin-top: 15px;
}

.score .title ul li {
    text-align: right;
    padding-right: 30px;
    color: black;
    line-height: 1.55em;
}

.score .content ul {
    list-style-type: none;
    margin-top:4px;
}

.score-upload .title h2 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.61);
}

.score-upload .content {
    border-left: 2px solid rgba(0, 0, 0, 0.61);
}

form#submission .form-group>label{
    font-size:13px;
}

@media screen and (max-width: 1300px)
{
  form#submission
  {
    margin-left:0 !important;
  }
}

.has-err .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-err label {
    color: #a94442;
}