{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div style="padding-top:70px;" class="col-md-9 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Cuckoo - Analyze file(s)
                </div>

                <div class="panel-body">
                    {% if error %}
                        <label><p>{{ error }}</p></label>
                    {% endif %}
                    {% for error in errors %}
                        <label><p>{{ error }}</p></label>
                    {% endfor %}

                    <form class="form-horizontal" role="form" data-toggle="validator" id="submission" method="POST" enctype="multipart/form-data" action="/" style="margin-left:15%;">
                        <fieldset>
                            <!-- File Button -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="file">Select file(s)</label>

                                <div class="col-md-6">
                                    <input id="file" name="file" class="input-file fileUpload" multiple="multiple" type="file">
                                </div>
                            </div>

                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="url"></label>

                                <div class="col-md-7">
                                    <textarea data-remote="/validate" class="form-control fileUpload has-error" id="url" placeholder="... or paste one or more URLs" name="url"></textarea>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="route">Network routing</label>

                                <div class="col-md-4">
                                    <select name="route" id="form_route" class="form-control">
                                        {% for route in routes %}
                                            <option value="{{ route }}">{{ route }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="machine">Machine</label>

                                <div class="col-md-4">
                                    <select class="form-control" id="form_machine" name="machine">
                                        <option value="">First available</option>
                                        <option value="all">All</option>
                                        {% for machine in machines %}
                                            <option value="{{ machine }}">{{ machine }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="timeout">Timeout</label>

                                <div class="col-md-3" style="margin-right: 220px;">
                                    <input id="timeout" name="timeout" type="number" min="1" max="30" placeholder="" class="form-control input-md" required="">
                                </div>

                                <div class="col-md-offset-3">
                                    <span style="display:inline-block;margin-left: 16px;" class="help-block">In minutes (with a maximum of 30 minutes)</span>
                                </div>
                            </div>

                            <!-- Multiple Radios (inline) -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="priority">Priority</label>
                                <div class="col-md-6">
                                    <label class="radio-inline" for="priority-0"><input type="radio" name="priority" value="1"{% if not priority or priority == 1 %} checked{% endif %}>Low</input></label>
                                    <label class="radio-inline" for="priority-1"><input type="radio" name="priority" value="2"{% if priority == 2 %} checked{% endif %}>Medium</input></label>
                                    <label class="radio-inline" for="priority-2"><input type="radio" name="priority" value="3"{% if priority == 3 %} checked{% endif %}>High</input></label>
                                </div>
                            </div>

                            <!-- Multiple Checkboxes (inline) -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="report">Reporting formats (to receive per email)</label>

                                <div class="col-md-6">
                                    <label class="checkbox-inline" for="report-0"><input type="checkbox" name="report" id="report-0" value="txt" {% if not reports or "plain" in reports %}checked {% endif %}/>Plaintext</label>
                                    <label class="checkbox-inline" for="report-1"><input type="checkbox" name="report" id="report-1" value="html" {% if not reports or "html" in reports %}checked {% endif %}/>HTML</label>
                                    <label class="checkbox-inline" for="report-2"><input type="checkbox" name="report" id="report-2" value="pdf" {% if not reports or "pdf" in reports %}checked {% endif %}/>PDF</label>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="email">Your email address</label>

                                <div class="col-md-6">
                                    <input id="email" name="email" type="email" placeholder="... to receive the analysis report"
                                           class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="singlebutton"><br></label><br>

                                <div class="col-md-6">
                                    <button id="btn_submit" type="submit" class="btn btn-default btn-primary">Analyze</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            function validate_fileUpload(){
                return !(!$('#file').val() && !$('#url').val());
            }

            $('form').on('submit', function(e){
                if(!validate_fileUpload()){

                    $.each($('textarea#url, input#file'), function(){
                       $(this).closest('.form-group').addClass('has-err');
                    });

                    e.preventDefault();
                }
            });

            function clear_labels(){
                $('form .form-group').each(function(){ $(this).removeClass('has-err') })
            }

            $('textarea#url').keypress(function() { clear_labels() });
            $('input#file').on("change", function(){ clear_labels() });
        });
    </script>
{% endblock %}