{% extends "base.html" %}
{% block content %}

    <section class="score score-yellow" >
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>please hang on.. :-)</h2>
                </div>
                <div class="content">
                    <p style="font-size: 30px;letter-spacing: -1px; margin-bottom:5px;">Analysis still in progress</p>
                    <p style="font-size: 14px;letter-spacing: 0; font-weight: normal;">
                        This page refreshes every 5 seconds.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script type="text/JavaScript">setTimeout("location.reload(true);", 5000);</script>

{% endblock %}