<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <section class="logo">
            <div class="container">
                <div class="row">
                    <div class="title"><img src="/static/img/cuckoo.png" alt=""></div>
                </div>
            </div>
        </section>

        <section class="score" style="background-color:#D8C700;">
            <div class="container">
                <div class="row">
                    <div class="title">
                        <h2>please hang on.. :-)</h2>
                    </div>
                    <div class="content">
                        <p style="font-size: 30px;letter-spacing: -1px;">Analysis still in progress</p>
                        <p style="font-size: 14px;letter-spacing: 0; font-weight: normal;">
                            This page refreshes every 5 seconds.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/JavaScript">setTimeout("location.reload(true);", 5000);</script>
    </body>

</html>